@media screen and (max-width: 1100px) {
  .wrapper {
    width:90%;
  }
  #social {
    position:absolute;
    width:auto;
    top:82px;
    right:4px;
  }
}

@media screen and (max-width:900px) {
  body {
    font:85%;
  }
  #logo h1 {
    height:35px;
    }
    #logo h2 {
      font:2.2em;
    }
    #social {
      position:absolute;
      width:72px;
    }
    .col-3 p {
    -moz-column-count: 2;
    -webkit-column-count: 2;
     column-count: 2;
    }
}
@media screen and (min-width:750px) {
  #navbar nav a {
    font:0.9em;
  }
  .col-3 p {
   column-count:1; 
   -moz-column-count: 1;
   -webkit-column-count: 1;
  }
  .col-1 , .col-2 , .col-3{
    width:100%;
    float:none;
    margin-left:0px;
  }
  .border-right {
    border:0px;
  }
  #details div {
    height:auto;
  }
}

